@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

h1 {
  text-wrap: balance;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

article h2 {
  @apply mb-2 mt-6 text-xl font-medium tracking-tight;
}

article h3 {
  @apply mb-2 mt-6 text-lg font-medium tracking-tight;
}

article p {
  @apply mt-2 mb-8 text-neutral-800 dark:text-neutral-200;
}

article code:not([data-component='CodeBlock'] code) {
  @apply text-sm border  border-gray-200 bg-gray-100 text-black rounded px-2 py-0.5 font-mono break-words;
}

article ul {
  @apply list-disc pl-6 my-6;
}

article ol {
  @apply list-decimal pl-6 my-6;
}

article li {
  @apply mb-4;
}
